<%- include('templates/header.ejs') %>
    Admin Page

    <body>
        <h5>User List:</h5>
        <% let i=0 %>
            <ul>
                <% for(i=0; i < listOfUsers.length; i++) { %>
                    <li>
                        <p>username:
                            <%= listOfUsers[i].username %>
                        </p>
                        <p>
                            user type: <%= listOfUsers[i].user_type %>
                        </p>
                        <a class="btn btn-danger rounded-pill px-3"
                            href="/admin/promote/<%=listOfUsers[i]._id%>">Promote</a>
                        <a class="btn btn-danger rounded-pill px-3"
                            href="/admin/demote/<%=listOfUsers[i]._id%>">Demote</a>
                    </li>
                    <% } %>

            </ul>
            </form>
            <form action='/logout' method='get'>
                <button>Sign out!</button>
            </form>
    </body>
    <%- include('templates/footer.ejs') %>