<%- include('templates/header.ejs') %>
    Admin Page

    <body>
        <h5>User List:</h5>
        <% let i=0 %>
            <ul>
                <% for(i=0; i < listOfUsers.length; i++) { %>
                    <li>
                        <a href="/user/<%= listOfUsers[i].user_id %>">
                            <p>username:
                                <%= listOfUsers[i].username %>
                            </p>
                            <p>
                                user type: <%= listOfUsers[i].user_type %>
                                    <% if (! listOfUsers[i].user_type) { %>
                                        user
                                        <% } %>
                                            <a href="/promote" class="btn btn-success">Promote to Admin</a>
                                            <a href="/demote" class="btn btn-warning">Demote to User</a>
                            </p>
                        </a>
                    </li>
                    <% } %>
            </ul>
            </form>
            <form action='/logout' method='get'>
                <button>Sign out!</button>
            </form>
    </body>
    <%- include('templates/footer.ejs') %>