<%- include('templates/header.ejs') %>
    <h1>Hello <%=x%>
    </h1>

    <img src='<%=a%>' style='width:250px;'>
    <br>
    <img src='<%=b%>' style='width:250px;'>
    <br>
    <img src='<%=c%>' style='width:250px;'>
    <br>

    <a href="/logoutuser" class="btn btn-primary">Sign out</a>

    <br>

    <form> <a href="/members"> Go to Members Area</a>
    </form>
    <%- include('templates/footer.ejs') %>