<%- include('partials/header.ejs'); %>
    Hello <%= x %>!
        <h1> Protected Route </h1>
        <br>
        <img src="<%= y %>" />

        <% if (isAdmin) { %>
            <h2> Only admins can see this</h2>
            <% } %>


                <ul>
                    <% todos.forEach(function(todoItem){ %>
                        <li>
                            <ul>
                                <li>
                                    <%= todoItem.name %>
                                </li>
                                <li>
                                    <%= todoItem.done %>
                                </li>
                        </li>
                </ul>
                </li>
                <% }); %>
                    </ul>

                    <%- include('partials/footer.ejs'); %>
                        </body>

                        </html>
                        <%- include('partials/footer.ejs'); %>